h3 {
  color: blue;
  font-weight: bold;
}

.btn-delete-col {
  text-align: right;
}

.pokemon-gender {
  color: white;
}

.pokemon-gender-male {
  background-color: blue;
}

.pokemon-gender-female {
  background-color: pink;
  color: black;
}

.pokemon-gender-unknown {
  background-color: purple;
}


.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}
