<h3 class="title">{{ title }}</h3>


<div class="row">
  <div class="col">
    <input (input)="onInputChange($event)" class="form-control" type="text" />
  </div>
  <div class="col-3">
    <button [disabled]="isButtonDisabled" class="btn btn-primary">test</button>
  </div>
</div>

<div class="my-4">
  <input class="form-control" [(ngModel)]="title" type="text" />
</div>

<button (click)="this.onDisableBtnCLick()" class="btn btn-danger my-4">toggle button disable</button>

<app-pokemon-item></app-pokemon-item>
<app-pokemon-item></app-pokemon-item>
<app-pokemon-item></app-pokemon-item>
