<div class="row">
  <div class="col">
    <input
      class="form-control"
      [(ngModel)]="newPokemonName"
      (keypress)="onInputKeyPress($event)"
      type="text"
    />
  </div>
  <div class="col-3">
    <button (click)="addPokemon()" class="btn btn-primary">Ajouter</button>
  </div>
</div>

<div
  *ngFor="let pokemon of pokemons; let pokemonIndex = index"
  class="p-3 row my-3 align-items-center pokemon-gender pokemon-gender-{{
    pokemon.gender
  }}"
>
  <div class="col">{{ pokemon.name }} - {{ pokemon.gender }}</div>
  <div class="col btn-delete-col">
    <button (click)="onDeletePokemon(pokemonIndex)" class="btn btn-danger">
      Supprimer
    </button>
  </div>
</div>

<br><br><br>
<hr><hr><hr><hr>
<br><br><br>

<app-pokemon-item
  *ngFor="let pokemon of pokemons; let pokemonIndex = index"
  [name]="pokemon.name"
  [level]="pokemon.level"
  (delete)="onPokemonItemDelete(pokemonIndex, $event)"
></app-pokemon-item>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast"
    [ngClass]="{ show: addedPokemon || duplicatePokemon }"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">
        <ng-container *ngIf="addedPokemon"> Pokémon ajouté </ng-container>
        <ng-container *ngIf="duplicatePokemon"> Pokémon dupliqué </ng-container>
      </strong>
      <button
        type="button"
        (click)="onToastClose()"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">
      <div *ngIf="addedPokemon">
        Le pokémon {{ addedPokemon }} a été ajouté !
      </div>
      <div *ngIf="duplicatePokemon">
        Le pokémon {{ duplicatePokemon }} existe déjà !
      </div>
    </div>
  </div>
</div>
