<div
  class="p-3 align-items-center row my-3 pokemon pokemon-{{ pokemon.gender }}"
  *ngIf="pokemon"
>
  <div class="col">
    <span class="pokemon-name">{{ pokemon.name }}</span> -
    {{ pokemon.level }} -
    <span class="pokemon-gender">{{ pokemon.gender }} - </span>
    <span class="pokemon-type-{{ pokemon.type }} badge rounded-pill">{{ pokemon.type }}</span>

  </div>
  <div class="col btn-delete-col">
    <button (click)="onDeleteBtnClick()" class="btn btn-primary">
      Supprimer
    </button>
  </div>
</div>
