:host {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aqua;
}

.row {
  --bs-gutter-x: 0;
}

.pokemon-male {
  background-color: blue;
  color: white;
}

.pokemon-female {
  background-color: pink;
  color: black;
}

.btn-delete-col {
  text-align: right;
}

.pokemon-name {
  color: purple;
}
